{% extends 'base.html.twig' %}
{% block body %}
<nav>
    <ul>
        <div class="navigation">
            <img src="/potos_league/assets/images/user.png" alt="user" title="logo"/>
            <li><a href="membres.html">Membres</a></li>
            <img src="/potos_league/assets/images/calendrier.png" alt="calendrier" title="calendrier"/>
            <li><a>Calendrier</a>
                <ul>
                    <li><a href="calendrier2018.html">calendrier 2018</a></li>
                    <li><a href="calendrier2019.html">calendrier 2019
                    </a></li>
                </ul>
            </li>
            <img src="/potos_league/assets/images/trophee.png" alt="trophee" title="trophee"/>
            <li><a href="palmares.html">Palmarès</a></li>
            <img src="/potos_league/assets/images/calendar2.png" alt="calendar2" title="calendar2"/>
            <li><a>Calendrier NFL</a>
                <ul>
                    <li><a href="calendriernfl.html">Calendrier 2019</a></li>
                </ul>
            </li>	
        </div>
    </ul>
</nav>
{% endblock %}