<div id="titre">
					<div class="logo">
						<img src= "/potos_league/assets/images/logo2.png" alt="logo NPL" title="logo NPL"/>
					</div>
					<h1>Site OFFICIEL de la </h1>
					<div class="imageTitre">
						<img class="imageTitre" src="/potos_league/assets/images/titre.png"/>
					</div>
				</div>