

@import "../../node_modules/bootstrap/dist/css/bootstrap";
@import "components/card";
@font-face{
  font-family: "astonishedregular";
    src: url('../../src/police/misprintedtype-fonts-astonished-32/astonished/astonished-webfont.woff2') format('woff2'),
         url('../../src/police/misprintedtype-fonts-astonished-32/astonished/astonished-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import "components/card";
@import "components/dashboard";


