.pageContent
{
width: 900px;
margin: auto;
color:#181818;
margin-top: 5px;
background-color: rgba(237, 240, 236, 0.3);
}

.title{
    margin-right: 200px;
}

.register{
    display:flex;
    flex-direction: column;
    background: rgb(223, 98, 10);
    text-align: center;
    width: 250px;
    height: 500px;
    margin-left: 120px;
    margin-top: 50px;
    margin-bottom: 50px;
}


