{% for news  in new %}
<div class="card m-2" style="width: 18rem;">
  <img class="card-img-top" src="/potos_league/assets/images/logo2.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><strong>Sujet :{{ news.subject }}</strong></h5>
    <p class="card-text">{{ news.article }}</p>
    <a href="#" class="btn btn-primary">Voirplus</a>
  </div>
</div>
{% endfor %}