<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Poto's League{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">       
        <link rel="stylesheet" href="build/css/app.css">
        <link rel="stylesheet" href="build/css/index.css">
        <link rel="stylesheet" href="build/css/main.css">
        
        
    </head>
    <body>

        

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
