{% extends 'base.html.twig' %}

{% block body %}

    <section class="">
        <div class="container">
           <h1>Bienvennue sur Poto's League</h1>
        </div>
        <div class="container">
        
            {{ include('includes/navigation.html.twig') }}
        </div>
    </section>

   
{% endblock %}
